#tableUsers th{
    position: sticky;
    top: 45px;
    margin: 0 0 0 0;
    
    background: #DCDCDC;    
}

#buttonFixPosition{
    position: sticky;
    top: 0px;
    margin: 0 0 0 0;
}

.modal-backdrop{
    z-index: 39;
}